@using DareTechnicalTest.Constants
@model DareTechnicalTest.Models.ViewModels.HomePageViewModel

<div class="homepage-container text-center">
    <h1>@Model.Header</h1>

    <p>@Model.PageDescription</p>

    <button type="button" class="btn btn-primary refresh-video-list-btn">@Model.PlaylistRefreshButtonText</button>
    
    <br/>
    <p><strong>Playlist Name: @Model.Playlist</strong></p>

    <div class="playlist-container">
    </div>
</div>

<script type="text/javascript" src="../Js/HomePageController.js"></script>
<script type="text/javascript">
    homePageController.initialize({
        playlist: '@Model.Playlist'
    });
</script>